{% extends 'econometria_home.html' %}
{% block topic %}
<main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
    <div class="flex w-full">
        <div class="flex-auto max-w-4xl min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16">
            <div class="pb-4 mb-8 border-b border-gray-200 dark:border-gray-800">
                <h1 class="inline-block mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
                    id="content">Introducción a la regresión lineal</h1>
            </div>
            <div id="mainContent">
                <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
                    La regresión lineal es solo una técnica, un algoritmo. Lo que realmente nos debe de importar
                    es su análisis y que tiene como uso frecuente analizar datos multifactoriales. Es un algoritmo tan
                    atractivo y sutil, que en una ecuación podemos expresar la relación entre una variable de interés (respuesta o predicha)
                    y uno o un conjunto de variables predictoras relacionadas.
                </p>
                <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
                    En esta sección, nos enfocaremos en utilizar la herramienta de la regresión lineal para el análisis 
                    de fenómenos económicos. La economía cuenta con un área donde se realizan este tipo de procesos llamada 
                    Econometría, la cual no es más que utilizar técnicas complejas del área de la estadística con la economía. 
                </p>
                <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
                    El porqué podemos utilizar esta herramienta en la área de la economía es interesante, puesto que los algoritmos
                    del Machine Learning (donde es parte la Regresión Lineal) usualmente permiten desenvolverse en el área cualquiera que sea. Economía, 
                    Salud, Finanzas, entre otras muchos más. De hecho, hay una empresa Chilena que la rompió gracias al uso del Machine Learning y el IA utilizando
                    estos algoritmos y que ahora está en presencia de varios países del continente Americano.
                </p>
                <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
                    El análisis de regresión es una herramienta multiárea porque tiene sobretodo un interés teórico, involucrando
                    matemática y estadística desarrollados a lo largo de varios años hasta hoy. La pregunta (o preguntas), por ahora, teniendo en cuenta que existe 
                    solo una variable de interés, y una o varias variales predictoras, ¿Qué variables utilizo como predictoras? ¿Cuáles no? ¿Por qué? Se responden
                    principalmente con la teoría, que está fundamentada por uno o varios autores, usualmente. Aunque, también puedes crear las tuyas. Por ejemplo, 
                    ¿Qué cosas me permiten explicar el fenómeno de la pobreza? ¿Qué cosas me permiten explicar el peso de una persona? ¿Es la altura relevante? 
                    ¿Es el dinero que posee la persona relevante en ambas que intento de explicar?. 
                </p>
                <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
                    Te invito, una vez que ya dieras un vistazo por la página, a ayudarme a mejorarla. No dudes en contactarme con los enlaces del footer, no dudes
                    en no dudar de todo lo interesante del mundo de las Regresiones Lineales, porque es solo un vistazo al universo del Machine Learning.
                </p>
                <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
                    Requísitos para esta sección: Inferencia estadística, conocimiento de economía básicos y ganas de ponerte en duda de todo.
                </p>
            </div>
        </div>
    </div>        
</main>
{% endblock %}