{% load static %}
<!-- Contact us -->
<section class="bg-bookmark-purple text-white py-20" id="redes">
    <div class="container">
        <div class="sm:w-3/4 lg:w-2/4 mx-auto">
            <p class="font-light uppercase text-center mb-8">La herramienta de aprendizaje favorita de los alumnos.</p>
            <h1 class="text-3xl text-center">Conéctate en las siguientes redes!</h1>
            <div class="flex flex-col sm:flex-row gap-6 mt-8 items-center justify-center mx-auto">
                <a href="https://discord.gg/sYQyTXrqfA" target="_blank"><img src="{% static 'images/discord.png' %}" alt="logo" class="object-cover h-20 w-50 px-2 py-3 rounded-md"></a>
                <a href="https://www.instagram.com/carlosignacioib/" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="logo" class="object-cover h-20 w-50 px-2 py-3 rounded-md"></a>
                <a href="https://www.linkedin.com/in/carlos-ib%C3%A1%C3%B1ez-acu%C3%B1a/" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="logo" class="object-cover h-20 w-50 px-2 py-3 rounded-md"></a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-bookmark-blue py-8">
    <div class="container flex flex-col md:flex-row items-center">
        <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
            <img src="" alt="">
            <ul class="flex text-white uppercase gap-12 text-xs">
                <!-- 
                <li class="cursor-pointer">Features</li>
                <li class="cursor-pointer">Pricing</li>
                -->
                <li>Copyright &copy; 2022 Carlos Ibáñez Acuña</li>
            </ul>
        </div>
        <div class="flex gap-10 mt-12 md:mt-0">
            
                <li>
                    <a href="https://www.linkedin.com/in/carlos-ib%C3%A1%C3%B1ez-acu%C3%B1a/" target="_blank">
                    <i class="text-white text-2xl fab fa-linkedin"></i>
                    </a>
                </li>
        
        </div>
    </div>
</footer>